<div class="container">
    <div class="jumbotron">
<center>
    


<img src ="../assets/img/eatdaburger.png">


<br><br><br><br>

<form class="create-form">


  <small class="text-muted">What burger would you like to eat?</small> 

<!-- Appended Input-->


    <div class="form-group">
      <input id="ca" name="burger_name"  type="text">
      </div>

      <div class="form-group">
    <label for="devoured">Hungry?</label><br>
    <input type="radio" name="devoured" value="1" checked>Yes, lets eat!<br>
    <input type="radio" name="devoured" value="0">Im not hungry right now.
  </div>
  
<button type="submit" class="submitburger">Add Burger!</button>
    </div>
    
  </div>


</form>

<br>



<br><br>
<h2>Burgers that have been eaten!</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
<h2>Burgers waiting to be eaten!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<br><br>



</center>
